---
import Layout from '../layouts/default.astro';
import Cart from '../components/Cart';
import ShopItems from '../components/ShopItems.astro';
---

<Layout>
  <main class="relative w-full h-full my-8 flex flex-col gap-4">
    <nav class="w-full flex items-center justify-between">
      <h1 class="font-bold text-4xl">Astronut Food Court</h1>
      <Cart client:only="solid-js" />
    </nav>
    <noscript>
      <p
        class="font-semibold text-primary border-2 border-primary rounded-md p-2"
      >
        Javascript is required to purchase items from this shop !
      </p>
    </noscript>
    <ShopItems />
  </main>
</Layout>
