<footer class="bg-primary text-white flex items-start justify-between p-4">
  <div>
    <h1 class="font-extrabold text-4xl">🌭 AstroWich</h1>
    <h4 class="text-xl">The Sandwich Company</h4>
  </div>
  <nav class="flex flex-col items-start gap-1">
    <a href="https://devsnow.in" target="_blank" class="underline"
      >Made by snowin</a
    >
    <a href="https://astro.build" target="_blank" class="underline">Astro</a>
    <a
      href="https:github.com/im-snowin/astro-demo"
      target="_blank"
      class="underline">Source Code</a
    >
  </nav>
</footer>
